body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* .Vend {
    background-image : url("https://images8.alphacoders.com/985/985376.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.Sardine {
  background-image : url("https://media3.giphy.com/media/tVk4w6EZ7eGNq/giphy.gif?cid=790b76115d4094eb624952382e9ca703&rid=giphy.gif") ;
  background-size: cover;
  background-repeat: no-repeat;
  z-Index: 100;

} */

